html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
* {
    box-sizing: border-box;
}
#header {
    background: rgb(207, 55, 55);
    width: 100%;
    height: 10%;
    color: #fff;
    font-size: 25px;
    line-height: 60px;
}
#logo {
    float: left;
    height: 100%;
    width: 7%;
}

#sidebar {
    background: #d8da3d;
    float: right;
    width: 19%;
    height: 85%;
    
}
#main {
    float: left;
    width: 80%;
    height: 85%;
    padding: 30px;
}
#footer {
    background: rgb(207, 55, 55);
    clear: both;
    width: 100%;
    height: 5%;
    color: #fff;
    text-align: center;
    line-height: 30px;
}
ul.navbar {
    list-style-type: none;
    padding: 15px;
    margin: 0;
    width: 70%;
}
ul.navbar li {
    background: rgb(207, 55, 55);
    margin: 0.8em 0;
    padding: 0.5em;
    border-right: 1em solid black;
    
    
}
ul.navbar a {
    text-decoration: none;
}
a:link {
    color: #fff;
}
a:visited {
    color: purple;
}